services:
  init-db:
    build:
      context: .
      dockerfile: docker_python
    container_name: hw11_init_db_container
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
    restart: "no"
    depends_on:
      - db
      - redis
    command: >
      sh -c '
        mkdir -p /code &&
        poetry run alembic revision --autogenerate -m "auto" &&
        poetry run alembic upgrade head &&
        poetry run python -m src.app.generators.generate_data
      '

  fastapi:
    build:
      context: .
      dockerfile: docker_python
    container_name: hw11_fastapi_container
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
    restart: always
    ports:
      - "$FASTAPI_PORT:8000"
    depends_on:
      - db
      - redis
    command: ["fastapi", "run", "src/app/main.py", "--port", "8000"]

  redis:
    image: redis:latest
    container_name: hw11_redis_container
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    #ports:
    #  - "$REDIS_PORT:6379"
    expose:
      - 6379
    volumes:
      - ./redisdata:/data
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      sh -c '
        mkdir -p /usr/local/etc/redis &&
        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
        echo "requirepass $REDIS_PASSWORD" >> /usr/local/etc/redis/redis.conf &&
        echo "appendonly yes" >> /usr/local/etc/redis/redis.conf &&
        echo "appendfsync everysec" >> /usr/local/etc/redis/redis.conf &&
        echo "user default on nopass ~* +@all" > /usr/local/etc/redis/users.acl &&
        echo "user $REDIS_USER on >$REDIS_USER_PASSWORD ~* +@all" >> /usr/local/etc/redis/users.acl &&
        redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
      '
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 3s
      timeout: 30s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true

  db:
    image: postgres:alpine
    container_name: hw11_postgres_container
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    # ports:
    #   - "$POSTGRES_PORT:5432"
    expose:
      - 5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 3s
      timeout: 30s
      retries: 3
volumes:
  pgdata: